body{
    width:100px;
}

.divs{
    width: 15px;
    height:15px;
    background-color:rgb(136, 110, 110);
    grid-row:2;
    
    
    
    

}

.container{
    display:grid;

}

.hovering{
    background-color:black;
}
